version: "3.8"

services:
  api:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: pbi-api
    restart: unless-stopped
    ports:
      - "4173:4173"
    environment:
      - NODE_ENV=production
    env_file:
      - .env
    volumes:
      - ./uploads:/app/uploads
    networks:
      - pbi-network

networks:
  pbi-network:
    driver: bridge
